@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;

}
.resetPage{
    background-color: #fff;


  display: flex;
  align-items: center;
  height: 100vh;
}
.left{
    
   display: flex;
  
   align-items: center;
}
.leftSub{
    margin-left: 152px;
width: 347px;
}
p{margin-left: 6.5px;
    font-size: 14px;
    margin-bottom: 78px;
    color: #000;
    white-space: wrap;

/* Body text/secondary */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 150% */
}
h2{
    
    margin-left: 6.5px;
    font-size: 24px;
    margin-bottom: 8px;
    color: var(--Neutral-1000, #121212);

/* Heading/secondary2 */
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 31.2px; /* 130% */
}
input[type="email"],input[type="password"]{
      padding: 20px;
      width: -webkit-fill-available;
      border-radius: 8px;
      margin-bottom: 54px;
      border: none;
      border: 1px solid var(--Neutral-700, #4C5858);
}
input[type="checkbox"]{

    justify-self: flex-end;
    
    margin-right: 7px;
    margin-left: 105px;
}
input[type="submit"]{
    width: -webkit-fill-available;
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    color: white;
    background: var(--Primary-800, #066769);
}
.checkbox-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 40px;

    
}

.checkbox-container a{
    white-space: nowrap;
    font-size: 13px;
    justify-self: flex-start;
    color: var(--Neutral-1000, #121212);


font-family: Poppins;

font-style: normal;
font-weight: 400;
line-height: 21px;

}
.checkbox-container label{
    white-space: nowrap;
    font-size: 13px;

}
.askSign{
    margin-top: 16px;
    text-align: center;
}
.askSign a{
    padding: 8px;
    color: var(--Primary-800, #066769);
    color: var(--Primary-700, #008080);


font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; 
}   
.right{
    margin-left: 231px;
   width: 674px;
   height: 646px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
background: #F7F8F8;
}   


.content img{
    width: 434px;
height: 404px;
}


input[type="submit"]{
    color: var(--Neutral-00, #FAFAFA);

/* Button/text */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
}

::placeholder{
    color: var(--Neutral-1000, #121212);

/* Body text/primary */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 160% */
}