*{
    margin: 0;
    padding: 0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;

}
.signUpPage{
    background-color: #fff;

  display: flex;
  align-items: center;
  height: 100vh;
}

 

input[type="text"],input[type="email"],input[type="password"]{
    padding: 20px;
    width: -webkit-fill-available;
    border-radius: 8px;
    margin-bottom: 24px;
    border: none;
    border: 1px solid var(--Neutral-700, #4C5858);
}
.textinput::placeholder{
font-weight: 400;
font-size: 16px;
font: Poppins;
color: #121212;
}

#terms{
    font-weight: 400;
    font-size: 12px;
    justify-self: flex-end;
    
    margin-right: 7px;
    margin-left: 10px;
}
#terms a{
    font-size: 14px;
    text-decoration: none;
    color:  #008080;
    font-weight: 600;
}
#sub{
    width: -webkit-fill-available;
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    color: white;
    margin-top: 24px;
    background: var(--Primary-800, #066769);
}
.asklogin{
    margin-top: 16px;
    text-align: center;
}
.asklogin a{
    padding: 8px;
    color: var(--Primary-800, #066769);
    color: var(--Primary-700, #008080);
text-decoration: none;

font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; 
}   





.scroller{
    display: flex;
    gap: 8px;
    margin-top: 142.98px;
    justify-self: center;
}
#sub{
    color: var(--Neutral-00, #FAFAFA);


font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; 
}
.slider2 {
    position: relative;
    overflow: hidden;
    width: 80%; 
    margin: 0 auto; 
}
