*{
    margin: 0;
    padding: 0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;

}
.signUpPage{
    background-color: #fff;

  display: flex;
  align-items: center;
  height: 100vh;
}
#signuph2{
    font-size: 24px;
    margin-bottom: 8px;
    color: var(--Neutral-1000, #121212);


font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 31.2px;
}

input[type="text"],input[type="email"],input[type="password"]{
    padding: 20px;
    width: -webkit-fill-available;
    width: -moz-available;
    border-radius: 8px;
    margin-bottom: 24px;
    border: none;
    border: 1px solid var(--Neutral-700, #4C5858);
}
.textinput::placeholder{
font-weight: 400;
font-size: 16px;
font: Poppins;
color: #121212;
}

#terms{
    top: 5px;
    font-weight: 400;
    font-size: 12px;
    justify-self: flex-end;
    
    margin-right: 7px;
    margin-left: 10px;
}
#terms a{
    font-size: 14px;
    text-decoration: none;
    color:  #008080;
    font-weight: 600;
}
#sub{
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    color: white;
    margin-top: 24px;
    background: var(--Primary-800, #066769);
}
input[type="submit"]:hover{
    cursor: pointer;
}
.asklogin{
    margin-top: 16px;
    text-align: center;
}
.asklogin a{
    padding: 8px;
    color: var(--Primary-800, #066769);
    color: var(--Primary-700, #008080);
text-decoration: none;

font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; 
}   





.scroller{
    display: flex;
    gap: 8px;
    margin-top: 142.98px;
    justify-self: center;
}
#sub{
    color: var(--Neutral-00, #FAFAFA);


font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; 
}
.slider2 {
    position: relative;
    overflow: hidden;
    width: 80%; 
    margin: 0 auto; 

}
.disabled-button {
    cursor: default; 
    pointer-events: none; 

  }
  .password-popup {
    z-index: 5;
    opacity: 0;
    position: fixed;
    width: 348px;
background: rgb(254, 250, 238);  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
  padding-top: 20px;
  transition: opacity 0.3s ease;
}

.password-popup p {
  margin: 5px 0;
  font-size: 14px ;
  color: #555;

}

.password-popup p.met {
  color: green;
}

.progress-bar-container {
    height: 5px;
    background-color: #e0e0e0;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    transition: width 0.3s ease , background-color 0.3s ease;
    
  }
  
  .progress-bar.weak {
    background-color: #C63C3C;
  }
  
  .progress-bar.medium {
    background-color: #FFB74D;
  }
  
  .progress-bar.strong {
    background-color: green;
  }
  
  .password-strength.weak {
    color: #C63C3C;
  }
  
  .password-strength.medium {
    color: #FFB74D; 
  }
  
  .password-strength.strong {
    color: green;
  }
  
#priP{
    margin-left: 45px !important;
}

.met,.not-met{
  gap: 10px;
  display: flex;
}
@media (max-width:500px) {
  .right{
    display:none;
  }
  .left{
    width: 100%;
  }
  .leftSub{
    margin-left: 3%;
    width: 90%;
    margin-right: 7%;
  }
  #leftSubh2{
    font-size: 30px;
  }
  .leftSub p{
   font-size: 18px;
   margin-right: 5%;
  }
  .asklogin a{
    font-size: 16px;
  }
}

